{% extends 'base.html' %}

{% block content%}

<section class="bg-dark">
    <div class="d-flex-row justify-content-center py-2">


        <div class="col-sm text-center text-white"><img src="../static/ontmoet-die-omroepers.png" alt="ontmoet-die-omroepers" width="75%"></div>
        
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md h-50 d-inline-block pb-5">
                <div class="card bg-warning text-dark h-50 d-inline-block">
                    <img src="../static/om1.png" alt="" class="object-fit-cover border rounded d-inline-block" width="100%">
                <div class="card-body">
                    <p>Name_Surname_division</p>
                </div>
                </div>
            </div>
            <div class="col-md h-50 d-inline-block pb-5">
                <div class="card bg-warning text-dark h-50 d-inline-block">
                    <img src="../static/om2.png" alt="" class="object-fit-cover border rounded d-inline-block" width="100%">
                <div class="card-body">
                    <p>Name_Surname_division</p>
                </div>
                </div>
            </div>
            <div class="col-md h-50 d-inline-block pb-5">
                <div class="card bg-warning text-dark h-50 d-inline-block">
                    <img src="../static/om3.png" alt="" class="object-fit-cover border rounded d-inline-block" width="100%">
                <div class="card-body">
                    <p>Name_Surname_division</p>
                </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md h-50 d-inline-block pb-5">
                <div class="card bg-warning text-dark h-50 d-inline-block">
                    <img src="../static/om4.png" alt="" class="object-fit-cover border rounded d-inline-block" width="100%">
                <div class="card-body">
                    <p>Name_Surname_division</p>
                </div>
                </div>
            </div>
            <div class="col-md h-50 d-inline-block pb-5">
                <div class="card bg-warning text-dark h-50 d-inline-block">
                    <img src="../static/om5.png" alt="" class="object-fit-cover border rounded d-inline-block" width="100%">
                <div class="card-body">
                    <p>Name_Surname_division</p>
                </div>
                </div>
            </div>
            <div class="col-md h-50 d-inline-block pb-5">
                <div class="card bg-warning text-dark h-50 d-inline-block">
                    <img src="../static/om6.png" alt="" class="object-fit-cover border rounded d-inline-block" width="100%">
                <div class="card-body">
                    <p>Name_Surname_division</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

<!-- <div class="col h-100 d-inline-block" style="width: 300px; background-color: rgba(0,0,255,.1)"></div> -->